<div class="slider-main js-slider-main">
    <div>
        <img src="assets/img/index/slider-1.jpg" alt="">
    </div>
    <div>
        <img src="assets/img/index/slider-2.jpg" alt="">
    </div>
    <div>
        <img src="assets/img/index/slider-3.jpg" alt="">
    </div>
</div>