<div class="catalog-banner">
    <img src="assets/img/catalog/banner.jpg" alt="" class="catalog-banner__img">
    <img src="assets/img/catalog/banner-mobile.jpg" alt="" class="catalog-banner__img-mobile">
    <div class="catalog-banner-details">
        <div class="catalog-banner-details-column">
            <div class="catalog-banner-details__text">Ммм... Новый вкус</div>
            <div class="catalog-banner-details__text mod-bold">Пицца Мексиканская</div>
        </div>
        <div class="catalog-banner-details-column">
            <div class="catalog-banner-details__text">35 см</div>
            <div class="catalog-banner-details__text mod-orange">599 р.</div>
        </div>
    </div>
</div>