<div class="catalog-banner js-slider-catalog">
    <div class="catalog-banner-item">
        <img src="assets/img/catalog/banner.jpg" alt="" class="catalog-banner-item__img">
        <img src="assets/img/catalog/banner-mobile.jpg" alt="" class="catalog-banner-item__img-mobile">
        <div class="catalog-banner-item-details">
            <div class="catalog-banner-item-details-column">
                <div class="catalog-banner-item-details__text">Ммм... Новый вкус</div>
                <div class="catalog-banner-item-details__text mod-bold">Пицца Мексиканская</div>
            </div>
            <div class="catalog-banner-item-details-column">
                <div class="catalog-banner-item-details__text">35 см</div>
                <div class="catalog-banner-item-details__text mod-orange">599 р.</div>
            </div>
        </div>
    </div>
    <div class="catalog-banner-item">
        <img src="assets/img/catalog/banner.jpg" alt="" class="catalog-banner-item__img">
        <img src="assets/img/catalog/banner-mobile.jpg" alt="" class="catalog-banner-item__img-mobile">
        <div class="catalog-banner-item-details">
            <div class="catalog-banner-item-details-column">
                <div class="catalog-banner-item-details__text">Ммм... Новый вкус</div>
                <div class="catalog-banner-item-details__text mod-bold">Пицца Мексиканская</div>
            </div>
            <div class="catalog-banner-item-details-column">
                <div class="catalog-banner-item-details__text">35 см</div>
                <div class="catalog-banner-item-details__text mod-orange">599 р.</div>
            </div>
        </div>
    </div>
</div>