<!DOCTYPE html>
<html>

    {% include "parts/meta-head.twig" %}

    <body>
        <div id="panel"></div>
    <div class="header">
    <div class="header-top-layout">
        <div class="container">
            <header class="header-top">
                <div class="header-top-logo">
                    <a href="/"><img src="assets/img/logo-new.png" alt="logo-umberto"></a>
                </div>
                <div class="header-top-mode">
                    <ul class="header-top-mode-list">
                        <li class="header-top-mode-list__item">Пн-Чт с 10:00 до 23:00</li>
                        <li class="header-top-mode-list__item">Пт-Сб с 10:00 до 02:00</li>
                        <li class="header-top-mode-list__item">Вс с 10:00 до 24:00</li>
                    </ul>
                </div>
                <div class="header-top-phone">
                    <ul class="header-top-phone-list">
                        <li class="header-top-phone-list__item">
                            <a href="tel:+74842595904">+7 (4842) 59 59 04</a>
                        </li>
                        <li class="header-top-phone-list__item">
                            <a href="tel:+79623703030">+7 (962) 370 30 30</a>
                        </li>
                    </ul>

                </div>
                <div class="header-top-social">
                    <ul class="header-top-social-list">
                        <li class="header-top-social-list__item">
                            <a href="https://vk.com/pizzaumberto">
                                <img src="assets/img/icon-vk.png" alt="/" class="">
                            </a>
                        </li>
                        <li class="header-top-social-list__item">
                            <a href="https://www.instagram.com/umberto_pizza/">
                                <img src="assets/img/icon-instagram.png" alt="/" class="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-top-cabinet">
                    <a href="#" class="c-btn" data-toggle="modal" data-target="#myModal">Войти</a>
                </div>
            </header>

        </div>
    </div>
    <div class="header-nav-layout">
        <div class="container">
            <div class="header-nav">
                <div class="header-nav-box">
                    <div class="header-nav-logo">
                        <a href="/" class="header-nav-logo__link">
                            <img src="assets/img/logo-new-small.png" alt="logo-umberto">
                        </a>
                    </div>
                    <div class="header-nav-menu">
                        <a href="/catalog/" class="header-nav-menu__link ">Меню</a>
                        <a href="/stock.php" class="header-nav-menu__link ">Акции</a>
                        <a href="/delivery.php" class="header-nav-menu__link ">Доставка и оплата</a>
                        <a href="/reviews.php" class="header-nav-menu__link ">Отзывы</a>
                        <a href="/company/" class="header-nav-menu__link ">О нас</a>
                    </div>
                    <div class="header-nav-phone">
                        <div class="header-nav-phone-list">
                            <a href="tel:+74842595904" class="header-nav-phone__link">+7 (4842) 59 59 04</a>
                            <a href="tel:+79623703030" class="header-nav-phone__link">+7 (962) 370 30 30</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-basket">
                    <a href="/basket/" class="header-nav-basket-count">
                        <span id="basket_text">В корзине пока пусто</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-logo">
            <a href="/"><img src="assets/img/logo-new-mobile.jpg" alt="logo"></a>
        </div>
        <div class="header-mobile-operation">

            <div class="header-mobile-phone">
                <a href="tel:+79623703030" class=""></a>
            </div>
            <a href="/basket/">
                <div class="header-mobile-basket">
                    <div class="header-mobile-basket__count" id="cart_count_mobile">0</div>
                    <div class="header-mobile-basket__icon"></div>
                </div>
            </a>
            <div class="header-mobile-menu">
                <div class="header-mobile-menu__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="header-mobile-popup">
        <div class="header-mobile-popup__body">
            <div class="header-mobile-popup__menu">
                
                <div class="header-nav-menu">
                    <a href="/catalog/" class="header-nav-menu__link ">Меню</a>
                    <a href="/stock.php" class="header-nav-menu__link ">Акции</a>
                    <a href="/delivery.php" class="header-nav-menu__link ">Доставка и оплата</a>
                    <a href="/reviews.php" class="header-nav-menu__link ">Отзывы</a>
                    <a href="/company/" class="header-nav-menu__link ">О нас</a>
                    <a href="#" class="header-nav-menu__link" data-toggle="modal" data-target="#myModal">Войти</a>
                </div>
            </div>
            <div class="header-mobile-popup__phone">
                <ul class="header-top-phone-list">
                    <li class="header-top-phone-list__item">
                        <a href="tel:+74842595904">+7 (4842) 59 59 04</a>
                    </li>
                    <li class="header-top-phone-list__item">
                        <a href="tel:+79623703030">+7 (962) 370 30 30</a>
                    </li>
                </ul>
            </div>
            <div class="header-mobile-popup__mode">
                <ul class="header-top-mode-list">
                    <li class="header-top-mode-list__item">Пн-Чт с 10:00 до 23:00</li>
                    <li class="header-top-mode-list__item">Пт-Сб с 10:00 до 02:00</li>
                    <li class="header-top-mode-list__item">Вс с 10:00 до 24:00</li>
                </ul>
            </div>
            <div class="header-mobile-popup__social">
                <ul class="header-top-social-list">
                    <li class="header-top-social-list__item">
                        <a href="https://vk.com/pizzaumberto">
                            <img src="assets/img/icon-vk.png" alt="/" class="">
                        </a>
                    </li>
                    <li class="header-top-social-list__item">
                        <a href="https://www.instagram.com/umberto_pizza/">
                            <img src="assets/img/icon-instagram.png" alt="/" class="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="profile-bottom">
    <div class="basket--top">
        <div class="container">
            <div class="row">
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Корзина</li>
                        <li class="">Оформление заказа</li>
                        <li>Отправка</li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="basket--content">
            <div class="row basket--content__bottom">
                <div class="col-xl-3 col-center col-lg-3">
                    <img src="assets/img/catalog/item-2.png" alt="/" class="basket--content__bottom-img">
                </div>
                <div class="col-xl-4 col-lg-4">
                    <p class="basket--content__bottom-p">Пиццы Супер Микс   </p>
                    <span style="font-size: 13px;color: #b1b1b1;">
                                        КОЛА 1 л. напиток подарочный М 0руб. 1шт. /                                        </span>
                </div>
                <div class="col-xl-2 col-lg-2">
                                <div class="number-basket-div">
                        <div class="input-group number-spinner cart_input_count">
				       <span class="input-group-btn data-dwn">
					       <button class="btn btn-default " data-dir="dwn">
                               <img src="assets/img/basket-left.png" alt="/" class="">
                           </button>
			        	</span>
                            <input type="text" readonly="" class="form-control text-center count_cart" data-id="13268" data-mod="0" value=" 3" min="1" max="40">
                            <span class="input-group-btn data-up">
					        <button class="btn btn-default" data-dir="up">
                                <img src="assets/img/basket-right.png" alt="/" class="">
                            </button>
				         </span>
                        </div>
                    </div>
                                </div>
                <div class="col-xl-1 col-lg-1">
                    <a class="" href="#"><img src="assets/img/basket-close.png" alt="/" class="basket-clozet" data-mod="0"></a>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <p class="basket--content__bottom-p ">1099 <span class="c-currency-symbol rub">руб</span></p>
                </div>
            </div>

            <div class="basket-lainer"></div>

            <div class="row basket--content__bottom">
                <div class="col-xl-3 col-center col-lg-3">
                    <img src="assets/img/catalog/item-3.png" alt="/" class="basket--content__bottom-img">
                </div>
                <div class="col-xl-4 col-lg-4">
                    <p class="basket--content__bottom-p">Пиццы Мега Микс   </p>
                    <span style="font-size: 13px;color: #b1b1b1;">
                                        КОЛА 1л.+1л. напиток подарочный М 0руб. 1шт. /                                        </span>
                </div>



                <div class="col-xl-2 col-lg-2">
                                <div class="number-basket-div">
                        <div class="input-group number-spinner cart_input_count">
				       <span class="input-group-btn data-dwn">
					       <button class="btn btn-default " data-dir="dwn">
                               <img src="assets/img/basket-left.png" alt="/" class="">
                           </button>
			        	</span>
                            <input type="text" readonly="" class="form-control text-center count_cart" data-id="13267" data-mod="0" value=" 1" min="1" max="40">
                            <span class="input-group-btn data-up">
					        <button class="btn btn-default" data-dir="up">
                                <img src="assets/img/basket-right.png" alt="/" class="">
                            </button>
				         </span>
                        </div>
                    </div>
                                </div>
                <div class="col-xl-1 col-lg-1">
                    <a class="" href="#"><img src="assets/img/basket-close.png" alt="/" class="basket-clozet" data-mod="0"></a>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <p class="basket--content__bottom-p ">1599 <span class="c-currency-symbol rub">руб</span></p>
                </div>
            </div>

            <div class="basket-lainer"></div>

            

            <div class="row basket--content__bottom">
                <div class="col-xl-3 col-center col-lg-3">
                    <img src="assets/img/catalog/item-4.png" alt="/" class="basket--content__bottom-img">
                </div>
                <div class="col-xl-4 col-lg-4">
                    <p class="basket--content__bottom-p">Милана 36 см  </p>
                    <span style="font-size: 13px;color: #b1b1b1;">
                                                                </span>
                </div>



                <div class="col-xl-2 col-lg-2">
                                <div class="number-basket-div">
                        <div class="input-group number-spinner cart_input_count">
				       <span class="input-group-btn data-dwn">
					       <button class="btn btn-default " data-dir="dwn">
                               <img src="assets/img/basket-left.png" alt="/" class="">
                           </button>
			        	</span>
                            <input type="text" readonly="" class="form-control text-center count_cart" data-id="12797" data-mod="0" value=" 4" min="1" max="40">
                            <span class="input-group-btn data-up">
					        <button class="btn btn-default" data-dir="up">
                                <img src="assets/img/basket-right.png" alt="/" class="">
                            </button>
				         </span>
                        </div>
                    </div>
                                </div>
                <div class="col-xl-1 col-lg-1">
                    <a class="" href="#"><img src="assets/img/basket-close.png" alt="/" class="basket-clozet" data-mod="0"></a>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <p class="basket--content__bottom-p ">695 <span class="c-currency-symbol rub">руб</span></p>
                </div>
            </div>

            <div class="basket-lainer"></div>

            
            <div class="row basket--content__footer">
                <!--                 -->                <div class="col-xl-3 col-lg-3 basket--content__footer-left">
                </div>
                <div class="col-xl-5 col-lg-5">
                </div>
                <!--                 -->                <!--                    <div class="col-xl-3 col-lg-3 basket--content__footer-left">-->
                <!--                        <p class="basket--content__footer-p">Ваши баллы: <span>200</span></p><br>-->
                <!--                        <a href="#" class="basket--content__footer-a"><img src="--><!--/img/basket-question.png" alt="/" class="basket-question"> Бонусная програма</a>-->
                <!--                    </div>-->
                <!--                    <div class="col-xl-5 col-lg-5">-->
                <!--                        <p class="basket--content__footer-p">Списать баллы</p>-->
                <!--                        <div class="form-group form-group-border">-->
                <!--                            <input type="text" class="form-control" >-->
                <!--                        </div>-->
                <!--                        <button class="btn-1 btn-container-top">Списать</button>-->
                <!--                    </div>-->
                <div class="col-xl-4 col-lg-4">
                    <p class="basket--content__footer-p">Сумма заказа: <span class="total-span"><span id="all_cart_summ">576</span> <span class="c-currency-symbol rub">руб</span></span></p>
                </div>

            </div>
        </div>
    </div>
    <div class="container">

        {% include "../components/basket-special/basket-special.twig"  %}
        
    </div>
    <div class="container">

        {% include "../components/basket-special/basket-special-not-enough.twig"  %}
        
    </div>
    <div class="container">
        <div class="checkout-bottom-new">
            <ul class="order-regulations-list">
                <li class="order-regulations-list__item">
                    На самовывоз действует скидка 10%!
                </li>
                <li class="order-regulations-list__item">
                    Минимальная сумма заказа 600 руб. Стоимость доставки зависит от вашего адреса. <a class="basket-bottom-link" href="#">Подробности здесь</a>
                </li>
            </ul>
            <div class="basket-bottom-btn">
                <a href="/" class="c-btn btn-1 cart_step_one js-basket-btn">Оформить заказ</a>
                <div class="basket-bottom-alert js-basket-alert">
                    <div class="basket-bottom-alert__close">
                        <img src="assets/img/close-alert.svg" alt="/">
                    </div>
                    <div class="basket-bottom-alert__text">
                        Оформление возможно при&nbsp;заказе от&nbsp;600&nbsp;руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</div>
<div class="modal fade" id="checkError">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body modal-body-center" style="    padding-top: 0;">
                <img src="assets/img/modal-body-center-img4.png" alt="/" class="modal-body-center-img">
                <p id="textCheckError" class="modal-body-center__h modal-body-center__h-top">Сумма минимального заказа 600 рублей!</p>
                <div class="modal-body-bottom checkErrorModal">
                    <a class="btn btn-1 btn-container-top" href="/catalog/">В меню</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------footer------------------------------------->

<footer>
<div class="container" style="position: relative;">
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-3 d-flex flex-column align-items-center">
        <a href="/">
            <img src="assets/img/logo-footer.png" alt="/" class="logo-footer" style="height: auto; width: 100%; margin: auto;">
        </a>
        <a class="footer--a p-0 m-0" href="/privacy.php">
            Публичная оферта
        </a>
        <a class="footer--a p-0 m-0" href="/rules.php">
            Условия оплаты
        </a>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-padding">
        <p class="footer--day__p">Пн-Чт, с 10:00 до 23:00</p>
        <p class="footer--day__p" style="padding-top: 3px;">Пт-Сб, с 10:00 до 02:00</p>
        <p class="footer--day__p" style="padding-top: 3px;">Вс, с 10:00 до 24:00</p>
        <p class="footer--phone__p">
            <a class="footer--a" href="tel:+79623703030">+7 (962) 370-30-30</a>
        </p>
        <p class="footer--phone__p">
            <a class="footer--a" href="tel:+74842595904">+7 (4842) 59-59-04</a>
        </p>
    </div>
    <!--            <div class="col-xl-2 col-lg-2 col-md-4  col-padding">-->
    <!--                <p class="footer--day__p">Пн-Вс, с 10:00 до 23:30</p>-->
    <!--                <p class="footer--phone__p">+7(4842) 40-09-01</p>-->
    <!--                <p class="footer--phone__p">+7(4842) 59-59-04</p>-->
    <!--            </div>-->

        <div class="col-xl-4 col-lg-4 col-md-5  col-right"> <ul class="footer-ul">
            <li>
                <a href="/catalog/" class="footer--a">Меню</a>
            </li>
            <li>
                <a href="/reviews.php" class="footer--a">Отзывы</a>
            </li>
            <li>
                <a href="/stock.php" class="footer--a">Акции</a>
            </li>
        </ul>
        <ul class="footer-ul">
            <li>
                <a href="/delivery.php" class="footer--a">Доставка</a>
            </li>
            <li>
                <a href="/company/contacts.php" class="footer--a">Контакты</a>
            </li>
            <li>
                <a href="/company/" class="footer--a">О нас</a>
            </li>
        </ul>
        <ul class="footer-ul">
            <li>
                <a href="/cabinet/" class="footer--a">Личный кабинет</a>
            </li>
            <li>
                <a href="/company/jobs.php" class="footer--a">Вакансии</a>
            </li>
            <li>
                <a href="/company/partnership.php" class="footer--a">Партнёрство</a>
            </li>
        </ul>

    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 ">
        <div id="vk_groups" class="footer--vk"></div>

        <!-- VK Widget -->
        <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {
                mode: 0,
                no_cover: 1,
                width: "auto",
                height: 100
            }, 43510652);
        </script>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 ">
        <div class="footer-right">
            <p class="footer-right-h">Мы принимаем</p>
            <span class=""><img src="assets/img/footer-icon1.png" alt="/" class="footer-icon"></span>
            <span class=""><img src="assets/img/footer-icon2.png" alt="/" class="footer-icon"></span>
            <br>
            <span style="color:#fff; font-size: 12px; font-family: ComicSansMS-Bold;">Разработано в
                <a href="https://itpolice.ru/?utm_source=client_site" style="color: red">
                    <span style="color: #fff">IT</span>Police</a>
            </span>

        </div>
    </div>
</div></div>
</footer>

<script src="scripts_old/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="scripts_old/bootstrap.js"></script>
<script src="scripts_old/jquery.maskedinput.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<script src="scripts_old/main.js"></script>
<script src="scripts_old/script.js"></script>

<script src="scripts_old/jquery-ui.min.js"></script>
<script src="scripts_old/jquery.ui.touch-punch.min.js"></script>

<script src="scripts_old/jquery.sumoselect.min.js"></script>
<script src="scripts_old/script-flat.js"></script>

<script src="scripts/vendor/slick.min.js"></script>
<script src="scripts/bundle.js"></script>

<a href="#" class="scrollup">Наверх</a>
<script type="text/javascript">
                    $(document).ready(function () {

                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 100) {
                                $('.scrollup').fadeIn();
                            } else {
                                $('.scrollup').fadeOut();
                            }
                        });

                        $('.scrollup').click(function () {
                            $("html, body").animate({scrollTop: 0}, 600);
                            return false;
                        });

                    });
</script>

<!--  Modal  Авторизация-->
<div class="modal fade" id="myModal">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <form action="/auth.php" id="auth_modal_a" type="post">
            <div class="modal-header">
                <p class="modal--h">Авторизация</p>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-modal form-group-modal__bottom">
                    <label class="modal-label">Логин</label>
                    <input type="text" name="login" class="form-control modal-input" autocomplete="off">
                </div>
                <div class="form-group form-group-modal">
                    <label class="modal-label">Пароль</label>
                    <input type="password" name="password" class="form-control  modal-input" >
                    <input type="hidden" name="do" class="form-control  modal-input" value="a">
                </div>
            </div>
            <div class="modal--block__a">
                <a href="#" data-toggle="modal" data-target="#myModal2" class="modal__a">Регистрация</a>
                <a href="#" data-toggle="modal" data-target="#myModal11" class="modal__a modal-right" >Забыли пароль?</a>
            </div>
            <div class=" modal-bottom">
                <button class="btn btn-modal" id="auth_modal_submit_a">Войти</button>
                <p class=" modal-bottom__p">Нажимая на кнопку «ВОЙТИ» вы соглашаетесь
                    с условиями <a href="/privacy.php" target="_blank">Пользовательского сообщения</a></p>
            </div>
            </form>
        </div>
    </div>
</div>
<!--  Modal  Регистрация-->
<div class="modal fade" id="myModal2">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <form action="/auth.php" id="auth_modal" type="post">
                <div class="modal-header">
                    <p class="modal--h">Регистрация</p>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-modal form-group-modal__bottom">
                        <label class="modal-label">Ваш телефон - Ваш Логин</label>
                        <input type="text" name="login" class="form-control modal-input" >
                    </div>
                    <div class="form-group form-group-modal form-group-modal__bottom">
                        <label class="modal-label">Ваш email</label>
                        <input type="text" name="email" class="form-control modal-input" >
                    </div>
                    <div class="form-group form-group-modal form-group-modal__bottom">
                        <label class="modal-label">Ваш Пароль</label>
                        <input type="password" name="password" class="form-control  modal-input" >
                        <input type="hidden" name="do" class="form-control  modal-input" value="r" >
                    </div>
                    <div class="form-group form-group-modal">
                        <label class="modal-label">Повторите Пароль</label>
                        <input type="password" name="repeate_password" class="form-control  modal-input" >
                    </div>
                </div>
                <div class="modal--block__a">
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="modal__a">Авторизация</a>
                    <a href="#" class="modal__a modal-right" data-toggle="modal" data-target="#myModal11" >Забыли пароль?</a>
                </div>
                <div class=" modal-bottom">
                    <button class="btn btn-modal  btn-modal-pading" id="auth_modal_submit">Зарегистрироваться</button>
                    <p class=" modal-bottom__p">Нажимая на кнопку «ЗАРЕГИСТРИРОВАТЬСЯ» вы соглашаетесь
                        с условиями <a href="/privacy.php" target="_blank">Пользовательского сообщения</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<!--  Modal  в корзине нет товара-->
<div class="modal fade" id="myModal3">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body modal-body-center">
                <img src="assets/img/modal-body-center-img.png" alt="/" class="modal-body-center-img">
                <p class="modal-body-center__h">В вашей корзине нет товаров!</p>
            </div>
        </div>
    </div>
</div>
<!--  Modal  отзыв отправлен-->
<div class="modal fade" id="myModal4">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body modal-body-center">
                <img src="assets/img/modal-body-center-img2.png" alt="/" class="modal-body-center-img2">
                <p class="modal-body-center__h">Ваш отзыв отправлен!</p>
            </div>
        </div>
    </div>
</div>
<!--  Modal  сбой -->
<div class="modal fade" id="myModal5">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body modal-body-center">
                <img src="assets/img/modal-body-center-img4.png" alt="/" class="modal-body-center-img">
                <p class="modal-body-center__h modal-body-center__h-top">Что-то пошло не так!<br>
                    Попробуйте еще раз.</p>
                <div class="modal-body-bottom">
                    <a class="btn btn-1 btn-container-top btn-left" href="/catalog/">В каталог</a>
                    <a class="btn btn-1 btn-container-top btn-right" href="/basket/">В карзину</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Modal  ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ -->
<div class="modal fade" id="myModal6">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body modal-bottom">
                <p class="modal-body-center__p">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</p>
                <p class="modal-body-center__p">г. Город  <span>«день» месяц годг.</span></p>
                <p class="modal-body-center__p">
                    1. ОБЩИЕ ПОЛОЖЕНИЯ</p>
                <p class="modal-body-center__p">
                    1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-магазина «название интернет-магазина»,
                    расположенному по адресу www.адрес интернет-магазина, и ко всем соответствующим сайтам, связанным с сайтом адрес интернет-магазина.<br>
                    1.2.	Сайт Интернет-магазина «название интернет-магазина» (далее – Сайт) является собственностью название организации, предприятия<br>
                    1.3.	Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-магазина « название интернет-магазина»
                    (далее – Администрация сайта) и Пользователем данного Сайта.<br>
                    1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.<br>
                    1.5. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.<br>
                    1.6. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.<br>
                </p>
                <p class="modal-body-center__p">2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ</p>
                <p class="modal-body-center__p">
                    2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:<br>
                    2.1.1 «название интернет-магазина» – Интернет-магазин, расположенный на доменном имени www.адрес интернет-магазина,
                    осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.<br>
                    2.1.2. Интернет-магазин – сайт, содержащий информацию о Товарах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара.<br>
                    2.1.3. Администрация сайта Интернет-магазина – уполномоченные сотрудники на управления Сайтом, действующие от имени название организации.<br>
                    2.1.4. Пользователь сайта Интернет-магазина (далее ? Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.<br>
                    2.1.5. Содержание сайта Интернет-магазина (далее – Содержание) - охраняемые результаты интеллектуальной деятельности,
                    включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки,
                    музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, по
                    льзовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн,
                    структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты
                    интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Интернет-магазина.
                </p>
                <p class="modal-body-center__p"> 3. ПРЕДМЕТ СОГЛАШЕНИЯ</p>
                <p class="modal-body-center__p">
                    3.1. Предметом настоящего Соглашения является предоставление Пользователю Интернет-магазина доступа к содержащимся на Сайте Товарам и оказываемым услугам.<br>
                    3.1.1. Интернет-магазин предоставляет Пользователю следующие виды услуг (сервисов):
                    доступ к электронному контенту на платной основе, с правом приобретения (скачивания), просмотра контента;
                    доступ к средствам поиска и навигации Интернет-магазина
                    предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Интернет-магазина;
                    доступ к информации о Товаре и к информации о приобреении Товара на платной основе;
                    иные виды услуг (сервисов), реализуемые на страницах Интернет-магазина.<br>
                    3.1.2. Под действие настоящего Соглашения подпадают ве существующие (реально функционирующие) на данный момент услуги (сервисы) Интернет-магазина,
                    а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Интернет-магазина.<br>
                    3.2. Доступ к Интернет-магазину предоставляется на _______ основе.<br>
                    3.3. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.<br>
                    3.4. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации
                </p>
                <p class="modal-body-center__p">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
                <p class="modal-body-center__p">
                    4.1. Администрация сайта вправе:<br>
                    4.1.1. Изменять правила пользования Сайтом, а также изменять содержание данного Сайта.
                    Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.<br>
                    4.1.2. Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.<br>
                    4.1.3. Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта Интернет-магазина.
                    Изменение стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением случаев,
                    особо оговоренных Администрацией сайта интернет-магазина.<br>
                    4.2. Пользователь вправе:<br>
                    4.2.1. Получить доступ к использованию Сайта после соблюдения требований о регистрации и оплате .<br>
                    4.2.2. Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары, предлагаемые на Сайте.<br>
                    4.2.3. Задавать любые вопросы, относящиеся к услугам Интернет-магазина по реквизитам, которые находятся в разделе Сайта «название раздела».<br>
                    4.2.4. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.<br>
                    4.3. Пользователь Сайта обязуется:<br>
                    4.3.1. Предоставлять по запросу Администрации сайта дополнительную информацию,
                    которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.<br>
                    4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.<br>
                    4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.<br>
                    4.3.4. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации
                    информацию о физических либо юридических лицах.<br>
                    4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством
                    Российской Федерации информации.<br>
                    4.3.6. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.<br>
                    4.3.7. Не использовать сервисы сайта Интернет-магазина с целью:<br>
                    4.3.7. 1. загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость,
                    ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам;
                    содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.<br>
                    4.3.7. 2. побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов,
                    действующих на территории Российской Федерации.<br>
                    4.3.7. 3. нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.<br>
                    4.3.7. 4. ущемления прав меньшинств.<br>
                    4.3.7. 5. представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав,
                    в том числе за сотрудников данного Интернет-магазина.<br>
                    4.3.7. 6. введения в заблуждение относительно свойств и характеристик какого-либо Товара из каталога Интернет-магазина, размещенного на Сайте.<br>
                    4.3.7. 7. некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами,
                    или осуждения таких лиц.<br>
                    4.4. Пользователю запрещается:<br>
                    4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа,
                    приобретения, копирования или отслеживания содержания Сайта данного Интернет-магазина;<br>
                    4.4.2. Нарушать надлежащее функционирование Сайта;<br>
                    4.4.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации,
                    документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;<br>
                    4.4.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам,
                    предлагаемым на Сайте;<br>
                    4.4.4. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.<br>
                    4.4.5. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.<br>
                    4.4.6. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации,
                    а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права интернет-магазина или других ли
                </p>
                <p class="modal-body-center__p"> 5. ИСПОЛЬЗОВАНИЕ САЙТА ИНТЕРНЕТ-МАГАЗИНА</p>
                <p class="modal-body-center__p">
                    5.1. Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.<br>
                    5.2. Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом,
                    а также размещено в глобальной сети «Интернет» без предварительного письменного согласия Администрации сайта.<br>
                    5.3. Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами,
                    связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.<br>
                    5.4. Приобретение Товара, предлагаемого на Сайте, может потребовать создания учётной записи Пользователя.<br>
                    5.5. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль,
                    а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.<br>
                    5.6. Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля
                    или любом другом нарушении системы безопасности.<br>
                    5.7. Администрация сайта обладает правом в одностороннем порядке аннулировать учетную запись Пользователя,
                    если она не использовалась более количество месяцев календарных месяцев подряд без уведомления Пользователя.<br>
                    5.7. Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и
                    оказанию услуг, предоставляемых на Сайте.<br>
                    5.8. Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.<br>
                    5.9. Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг,
                    предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Интернет-магазином.<br>
                    5.10. Документы, указанные в пунктах 5.10.1 - 5.10.4 настоящего Соглашения регулируют в соответствующей части и распространяют свое действие
                    на использование Пользователем Сайта. В настоящее Соглашение включены следующие документы:<br>
                    5.10.1. Политика конфиденциальности;<br>
                    5.10.2. Договор купли-продажи товаров дистанционным способом;<br>
                    5.10.3. Заявка на оформление заказа;<br>
                    5.10.4. Предложения и замечания.<br>
                    5.11. Любой из документов, перечисленных в пункте 5.10. настоящего Соглашения может подлежать обновлению.
                    Изменения вступают в силу с момента их опубликования на Сайте.
                </p>
                <p class="modal-body-center__p">6. ОТВЕТСТВЕННОСТЬ</p>
                <p class="modal-body-center__p">
                    6.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого
                    положения настоящего Соглашения,
                    а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.<br>
                    6.2. Администрация сайта не несет ответственности за:<br>
                    6.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие
                    непреодолимой силы, а также любого случая неполадок в телекоммуникационных,
                    компьютерных, электрических и иных смежных системах.<br>
                    6.2.2. Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.<br>
                    6.2.3. Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования,
                    а также не несет никаких обязательств по обеспечению пользователей такими средствами.
                </p>
                <p class="modal-body-center__p"> 7. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</p>
                <p class="modal-body-center__p">
                    7.1. Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием
                    или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя,
                    который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.<br>
                    7.2. Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений
                    действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения,
                    защиты прав или безопасности название организации, Пользователей.<br>
                    7.3. Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации
                    требует или разрешает такое раскрытие.<br>
                    7.4. Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту,
                    если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом,
                    а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.<br>
                    7.5. Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту
                    в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.
                </p>
                <p class="modal-body-center__p">8. РАЗРЕШЕНИЕ СПОРОВ</p>
                <p class="modal-body-center__p">
                    8.1. В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд
                    является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br>
                    8.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии
                    о результатах рассмотрения претензии.<br>
                    8.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав,
                    которые предоставлены им действующим законодательством Российской Федерации.<br>
                    8.4. Любой иск в отношении условий использования Сайта должен быть предъявлен в течение срок после возникновения оснований для иска,
                    за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                    При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.
                </p>
                <p class="modal-body-center__p">9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</p>
                <p class="modal-body-center__p">
                    9.1. Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.<br>
                    9.2. Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.
                </p>
                <p class="modal-body-center__p">Обновлено «день» месяц год г.</p>

                <div class="custom-control  custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4"> Я прочитал(а) и согласен(а) с условиями пользовательского соглашения</label>
                </div>
                <div class="modal-btn">
                    <button class="btn btn-1 btn-container-top">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Modal  востоновление пароля-->
<div class="modal fade" id="myModal11">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <form action="/auth.php" id="auth_modal_rq" type="post">
            <div class="modal-header">
                <p class="modal--h">Запрос на восстановление пароля</p>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-modal form-group-modal__bottom"><p class="modal-bottom__p">На ваш номер был выслан код активации.Обычно он приходит в течение 1-2 минуты</p></div>
                <div class="form-group form-group-modal form-group-modal__bottom">
                    <label class="modal-label">Логин</label>
                    <input type="tel" name="login" class="form-control modal-input" >
                    <input type="hidden" name="do" class="form-control  modal-input" value="rq">
                </div>
<!--                <div class="form-group form-group-modal">-->
<!--                    <label class="modal-label">Пароль</label>-->
<!--                    <input type="password" class="form-control  modal-input" >-->
<!--                </div>-->
            </div>
            <div class=" modal-bottom">
                <button class="btn btn-modal" id="auth_modal_submit_rq">Отправить код</button>
                <p class=" modal-bottom__p">Нажимая на кнопку «ВОЙТИ» вы соглашаетесь<br>
                    с условиями <a href="/privacy.php" target="_blank">Пользовательского сообщения</a></p>
            </div>
            </form>
        </div>
    </div>
</div>
<!--  Modal  Заказ оформлен! -->
<div class="modal fade" id="myModal12">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body modal-body-center">
                <img src="assets/img/modal-body-center-img5.png" alt="/" class="modal-body-center-img">
                <p class="modal-body-center__h modal-body-center__h-top">Заказ оформлен!<br>
                    Номер вашего заказа  № <span id="orderNum"></span></p>
                <div class="modal-body-bottom">
                    <a class="btn btn-1 btn-container-top btn-left"  href="/catalog/">В каталог</a>
                    <a class="btn btn-1 btn-container-top btn-right"  href="/">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Modal  забыл пароль-->
<div class="modal fade" id="myModal13">
    <a href="#" class="modal-close" data-dismiss="modal"><span></span><span></span></a>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal--h">Забыли пароль</p>
            </div>
            <div class="modal-body">
                <p class="modal-bottom__h">ЗАПРОС НА ВОССТАНОВЛЕНИЕ ПАРОЛЯ</p>
                <p class="modal-bottom__p">Если вы забыли пароль, введите номер телефона.Новый пароль мы отправим Вам по SMS.</p>
                <div class="form-group form-group-modal form-group-modal__bottom">
                    <label class="modal-label">Номер телефона</label>
                    <input type="text" class="form-control modal-input" >
                </div>
                <div class="btn-modal-witch">
                    <button class="btn btn-modal btn-modal-left">Отправить</button>
                    <a href="#" class="modal__a modal-right">Авторизация</a>
                </div>
            </div>
            <div class=" modal-bottom">
                <p class=" modal-bottom__p">Нажимая на кнопку «ОТПРАВИТЬ» вы соглашаетесь
                    с условиями <a href="/privacy.php" target="_blank">Пользовательского сообщения</a></p>
            </div>

        </div>
    </div>
</div>
</body>
</html>