    <head>
        <meta charset="utf-8">
        <meta
        name="cmsmagazine" content="ff5c972ad69ba5bf54b75e331672f1f2"/>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon/ico.png" type="image/x-icon">
        <link rel="stylesheet" href="styles_old/bootstrap.css">
        <link rel="stylesheet" href="styles_old/style.css">
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
        <link rel="stylesheet" href="styles_old/stylesheet.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="доставка еды"/>
        <meta name="description" content="доставка еды"/>
        <link href="styles_old/kernel_main_v1.css" type="text/css" rel="stylesheet"/>
        <link href="styles_old/font-awesome.min.css" type="text/css" rel="stylesheet"/>
        <link href="styles_old/template_d80576caee2f2830fe96aadb51c290f0_v1.css" type="text/css" data-template-style="true" rel="stylesheet"/>
        <link href="styles_old/style.css" type="text/css" rel="stylesheet"/>
        
        <script type="text/javascript">
            if (!window.BX) 
                window.BX = {};
            

            if (!window.BX.message) 
                window.BX.message = function (mess) {
                    if (typeof mess == 'object') 
                        for (var i in mess) 
                            BX.message[i] = mess[i];
                        
                    


                    return true;
                };
            ;;
        </script>
        <script type="text/javascript">
            (window.BX || top.BX).message({
                'JS_CORE_LOADING': 'Загрузка...',
                'JS_CORE_NO_DATA': '- Нет данных -',
                'JS_CORE_WINDOW_CLOSE': 'Закрыть',
                'JS_CORE_WINDOW_EXPAND': 'Развернуть',
                'JS_CORE_WINDOW_NARROW': 'Свернуть в окно',
                'JS_CORE_WINDOW_SAVE': 'Сохранить',
                'JS_CORE_WINDOW_CANCEL': 'Отменить',
                'JS_CORE_WINDOW_CONTINUE': 'Продолжить',
                'JS_CORE_H': 'ч',
                'JS_CORE_M': 'м',
                'JS_CORE_S': 'с',
                'JSADM_AI_HIDE_EXTRA': 'Скрыть лишние',
                'JSADM_AI_ALL_NOTIF': 'Показать все',
                'JSADM_AUTH_REQ': 'Требуется авторизация!',
                'JS_CORE_WINDOW_AUTH': 'Войти',
                'JS_CORE_IMAGE_FULL': 'Полный размер'
            });
        </script>
        <script type="text/javascript">
            (window.BX || top.BX).message({
                'LANGUAGE_ID': 'ru',
                'FORMAT_DATE': 'DD.MM.YYYY',
                'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS',
                'COOKIE_PREFIX': 'BITRIX_SM',
                'SERVER_TZ_OFFSET': '10800',
                'SITE_ID': 's1',
                'SITE_DIR': '/',
                'USER_ID': '',
                'SERVER_TIME': '1571203304',
                'USER_TZ_OFFSET': '0',
                'USER_TZ_AUTO': 'Y',
                'bitrix_sessid': '2646cea98b3ed9bacf97bbe9b29b99f8'
            });
        </script>


        <script type="text/javascript" src="scripts_old/kernel_main_v1.js"></script>
        <script type="text/javascript" src="scripts_old/script.js"></script>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadRecaptchafree&render=explicit&hl=ru"></script>
        <script type="text/javascript" src="scripts_old/kernel_main_polyfill_promise_v1.js"></script>
        <script type="text/javascript" src="scripts_old/loadext.min.js"></script>
        <script type="text/javascript" src="scripts_old/extension.min.js"></script>

        <script type="text/javascript" src="scripts_old/template_76f42a7290b44020e14cb702389d9021_v1.js"></script>
        <script type="text/javascript">
            var _ba = _ba || [];
            _ba.push(["aid", "1e7fc1b28d9e899c24e292415b3a4750"]);
            _ba.push(["host", "umberto40.ru"]);
            (function () {
                var ba = document.createElement("script");
                ba.type = "text/javascript";
                ba.async = true;
                ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(ba, s);
            })();
        </script>


        <title>Умберто</title>
        <input
        type="hidden" name="sessid" id="sessid" value="2646cea98b3ed9bacf97bbe9b29b99f8"/>
        <!--		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> 	-->

        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <link href="styles_old/mplusrounded1c.css" rel="stylesheet">
        <link rel="stylesheet" href="styles_old/jquery-ui.css">
        <link rel="stylesheet" href="styles_old/sumoselect.css">
        <link rel="stylesheet" href="styles_old/style-flat.css">

        <link href="styles/vendor/slick.css" type="text/css" rel="stylesheet"/>
        <link href="styles/index.css" type="text/css" rel="stylesheet"/>

    </head>